/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/* END OF RESET */
body {
    height: 100vh;
    font-family: sans-serif;
}

.top-container {
    background-image: url(/images/pattern-bg-desktop.png);
    color:  white;
    display: grid;
    place-items: center;
    padding: 1.5rem 1.5rem 5rem 1.5rem;
}

.input-container{
    display: flex;
    justify-content: center;
    width: 37%;
    position: relative;
    padding-bottom: 10px;
    input {
        border: none;
        width: 100%;
        min-height: 44px;
        border-radius: 15px;
        padding-left: 10px;
    }

    button {
        border: none;
        background-color: black;
        color: white;
        padding: 10px 15px;
        position: absolute;
        right: 0;
        border-end-end-radius: 15px;
        border-start-end-radius: 15px;
    }
}

.info-container {
    display: flex;
    gap: 4rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 15px;
    position: absolute;
    top: 19%;
    z-index: 1;
    span {
        color: #2C2C2C;
    }
    h2 {
        color: black;
    }
}

#map {
    height: 65vh;
    bottom: 0;
    z-index: 0;
}